.login-container {
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  .login-box, .register-box {
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
    text-align: center;
  }
  
  .login-box h2, .register-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box form, .register-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-box input, .register-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-box button, .register-box button {
    background: var(--purple-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .login-box button:hover, .register-box button:hover {
    background: var(--pink-color);
  }